p {
  margin: 0;
}

.box-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  height: 50px;
  width: 100%;
  background-color: #004cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 60px;
  background: #f7f4f4;
}

.photo-card {
  border-bottom: 1px solid #EEEEEE;
  background: #f7f4f4;
  flex-basis: calc((100% - 20px * 3) / 4);
  height: 450px;
  // width: 450px;
  
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo-card:not(:nth-last-child(-n+4)) {
  margin-bottom: 20px;
}


.photo-card__image-container {
  height: 380px;
  display: flex;
}

.photo-card__image {
  display: block;
  height: auto;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  height: 70px;
  padding: 5px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: space-around;
}

.info-item-name {
  // display: block;
  margin-bottom: 30px;
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}